@model Message

<div class="text-center">
    <h1 class="display-4">Contact</h1>
</div>

<div>
    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="MessageForm" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control">
        </div>

        <div class="mb-3">
            <label asp-for="Body" class="form-label">Message</label>
            <textarea asp-for="Body" class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>




