@{
    ViewData["Title"] = "Home Page";
}
@model List<Book>

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is the @ViewData["Title"]</p>
    </div>

    @foreach (var b in Model?.Books)
{
    <h3>b.Title</h3>
}
